<!DOCTYPE html>
<html>
  <head>
    <title>Carrierwave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <% if user_signed_in? %>

            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
            <small class="text-muted"><%= current_user.username %></small>

          <% else %>

            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success' %>
            <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary' %>
            
          <% end %>




          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
